<a href="https://colab.research.google.com/github/MGASALUCAS/Notebooks-Collection/blob/main/ZindiChallenge1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
np.random.seed(123)
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
# Import data
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')

In [3]:
# print shape
print('train data shape :', train.shape)
print('test data shape :', test.shape)

train data shape : (104659, 19)
test data shape : (190063, 18)

In [4]:
ss = pd.read_csv('SampleSubmission.csv')
ss.head()

                                    user_id  CHURN
0  51fe4c3347db1f8571d18ac03f716c41acee30a4      0
1  5ad5d67c175bce107cc97b98c4e37dcc38aa7f3e      0
2  5a4db591c953a8d8f373877fad37aaf4268899a1      0
3  8bf9b4d8880aeba1c9a0da48be78f12e629be37c      0
4  c7cdf2af01e9fa95bf498b68c122aa4b9a8d10df      0

In [5]:
# inspect train data
train.head()

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,7ee9e11e342e27c70455960acc80d3f91c1286d1,DAKAR,K > 24 month,20000.0,47.0,21602.0,7201.0,52.0,8835.0,3391.0,396.0,185.0,NaN,NaN,NO,62.0,On net 200F=Unlimited _call24H,30.0,0.0
1,50443f42bdc92b10388fc56e520e4421a5fa655c,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,3.0,NaN,NaN,0.0
2,da90b5c1a9b204c186079f89969aa01cb03c91b2,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,1.0,NaN,NaN,0.0
3,364ec1b424cdc64c25441a444a16930289a0051e,SAINT-LOUIS,K > 24 month,7900.0,19.0,7896.0,2632.0,25.0,9385.0,27.0,46.0,20.0,NaN,2.0,NO,61.0,"Data:490F=1GB,7d",7.0,0.0
4,d5a5247005bc6d41d3d99f4ef312ebb5f640f2cb,DAKAR,K > 24 month,12350.0,21.0,12351.0,4117.0,29.0,9360.0,66.0,102.0,34.0,NaN,NaN,NO,56.0,All-net 500F=2000F;5d,11.0,0.0

In [6]:
ss = pd.read_csv('SampleSubmission.csv')
ss.head()

                                    user_id  CHURN
0  51fe4c3347db1f8571d18ac03f716c41acee30a4      0
1  5ad5d67c175bce107cc97b98c4e37dcc38aa7f3e      0
2  5a4db591c953a8d8f373877fad37aaf4268899a1      0
3  8bf9b4d8880aeba1c9a0da48be78f12e629be37c      0
4  c7cdf2af01e9fa95bf498b68c122aa4b9a8d10df      0

In [7]:
#show some information about the dataset
print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104659 entries, 0 to 104658
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         104659 non-null  object
 1   REGION          63370 non-null   object
 2   TENURE          104659 non-null  object
 3   MONTANT         67832 non-null   float64
 4   FREQUENCE_RECH  67831 non-null   float64
 5   REVENUE         69429 non-null   float64
 6   ARPU_SEGMENT    69429 non-null   float64
 7   FREQUENCE       69429 non-null   float64
 8   DATA_VOLUME     53062 non-null   float64
 9   ON_NET          66576 non-null   float64
 10  ORANGE          61147 non-null   float64
 11  TIGO            41925 non-null   float64
 12  ZONE1           8214 non-null    float64
 13  ZONE2           6659 non-null    float64
 14  MRG             104658 non-null  object
 15  REGULARITY      104658 non-null  float64
 16  TOP_PACK        60727 non-null   object
 17  FREQ_TOP_PACK   60727 non-null   float64
 18  CHURN           104658 non-null  float64
dtypes: float64(14), object(5)
memory usage: 15.2+ MB
None

In [ ]:
#import preprocessing module
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

# Cobvert target label to numerical Data
le = LabelEncoder()
train['bank_account'] = le.fit_transform(train['bank_account'])

#Separate training features from target
X_train = train.drop(['bank_account'], axis=1)
y_train = train['bank_account']

print(y_train)

In [ ]:
# function to preprocess our data from train models

def preprocessing_data(data):

    # Convert the following numerical labels from interger to float
    float_array = data[["household_size", "age_of_respondent", "year"]].values.astype(float
    )
    
    # categorical features to be onverted to One Hot Encoding
    categ = [
        "relationship_with_head",
        "marital_status",
        "education_level",
        "job_type",
        "country"
    ]
    
    # One Hot Encoding conversion
    data = pd.get_dummies(data, prefix_sep="_", columns=categ)
    
    # Label Encoder conversion
    data["location_type"] = le.fit_transform(data["location_type"])
    data["cellphone_access"] = le.fit_transform(data["cellphone_access"])
    data["gender_of_respondent"] = le.fit_transform(data["gender_of_respondent"])
    
    # drop uniquid column
    data = data.drop(["uniqueid"], axis=1)
    
    # scale our data into range of 0 and 1
    scaler = MinMaxScaler(feature_range=(0, 1))
    data = scaler.fit_transform(data)
    
    return data

In [ ]:
# preprocess the train data 
processed_train = preprocessing_data(X_train)
processed_test = preprocessing_data(test_data)

In [ ]:
# the first train row
print(processed_train[:1])

In [ ]:
# shape of the processed train set
print(processed_train.shape)
(23524, 37)

In [ ]:
# Split train_data
from sklearn.model_selection import train_test_spilt

X_Train, X_Val, y_Train, y_val = train_test_split(processed_train, y_train, stratify = y_train,
                                                  test_size = 0.1, random_state=42)

In [ ]:
#import classifier algorithm here
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborClassifier
from sklearn.ensemble import ExtraTreesClassifier
from xgboost import XGBClassifier

# create models
lg_model = LogisticRegression()
rf_model = RandomForestClassifier()
kn_model = KNeighborsClassifier()
et_model = ExtraTreesClassifier()
xg_model = XGBClassifier()

#fitting the models
lg_model.fit(X_Train,y_Train)
rf_model.fit(X_Train,y_Train)
kn_model.fit(X_Train,y_Train)
et_model.fit(X_Train,y_Train)
xg_model.fit(X_Train,y_Train)

In [ ]:
# import evaluation metrics
from sklearn.metrics import confusion_matrix, accuracy_score

# evaluate the model
lg_y_pred = lg_model.predict(X_Val)
rf_y_pred = rf_model.predict(X_Val)
kn_y_model = kn_model.predict(X_Val)
et_y_model = et_model.predict(X_Val)
xg_y_model = xg_model.predict(X_Val)

# Get error rate
print("Error rate Logistic Regression classifier: ", 1 - accuracy_score(y_val, lg_y_model))
print("Error rate of Random Forest classifier: ", 1 - accuracy_scorey_val, rf_model))
print("Error rate of Extra Tree classifier: ", 1 - accuracy_score(y_val, et_y_model))
print("Error rate of XGB classifier: ", 1 - accuracy_score(y_val, xg_y_model))

In [ ]:
from sklearn.metrics import plot_confusion_matrix

# Get confusion matrix for Gradient Boosting Classifier
plot_confusion_matrix( xg_model,X_Val,y_val,normalize='true')

In [ ]:
# Import GridSearchCV
from sklearn.model_selection import GridSearchCV

# Optimize model parameters
# I run this code in google colab to make the execution much faster and use the best params in the next code
param_grid = {'min_child_weighth': [1, 5, 10],
        'gamma': [0.5, 1],
        'subsample': [0.6, 0.8, 1.0],
        'max_depth': [3, 5]
        }
my_xgb_model = GridSearchCV(xg_model, param_grid,n_jobs=-1,verbose=2,cv=5)
my_xgb_model.fit(X_Train, y_Train)
print(my_xgb_model.best_params_)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score

# fit by setting best parameters and Evaluate model
xgb_model = XGBClassifier(min_child_weight=1, gamma=1, subsample=0.8, max_depth=5)

xgb_model.fit(X_Train, y_Train)
y_pred = xgb_model.predict(X_val)

# Get error rate
print("Error rate of the XGB classifier: ", 1 - accuracy_score(y_val, y_pred))

In [ ]:
# Get the predicted result for the test Data
test.bank_account = xgb_model.predict(processed_test)

In [ ]:
# Create submission DataFrame
submission = pd.DataFrame({"uniqueid": test["uniqueid"] + " x " + test["country"],
                           "bank_account": test.bank_account})

In [ ]:
#show the five sample
submission.sample(5)

In [ ]:
# Create submission csv file csv file
submission.to_csv('first_submission.csv', index = False)