<a href="https://colab.research.google.com/github/MGASALUCAS/Notebooks-Collection/blob/main/ZindiChallenge1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
np.random.seed(123)
warnings.filterwarnings('ignore')
%matplotlib inline

In [ ]:
# Import data
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')

In [ ]:
# print shape
print('train data shape :', train.shape)
print('test data shape :', test.shape)

train data shape : (104659, 19)
test data shape : (190063, 18)

In [ ]:
ss = pd.read_csv('SampleSubmission.csv')
ss.head()

                                    user_id  CHURN
0  51fe4c3347db1f8571d18ac03f716c41acee30a4      0
1  5ad5d67c175bce107cc97b98c4e37dcc38aa7f3e      0
2  5a4db591c953a8d8f373877fad37aaf4268899a1      0
3  8bf9b4d8880aeba1c9a0da48be78f12e629be37c      0
4  c7cdf2af01e9fa95bf498b68c122aa4b9a8d10df      0

In [ ]:
vv = pd.read_csv('VariableDefinitions.csv')
vv.info

<bound method DataFrame.info of    Variable Definitions                                         Unnamed: 1  \
0                   NaN                                             French
1                   NaN  Le dataset churn comprend 19 variables dont 15...
2               user_id                                                NaN
3                REGION                       la localité de chaque client
4                TENURE                            la durée dans le reseau
5               MONTANT                                montant de recharge
6        FREQUENCE_RECH   nombre de fois que le client a fait une recharge
7               REVENUE                    revenu mensuel de chaque client
8          ARPU_SEGMENT                              revenu sur 90 jours/3
9             FREQUENCE         nombre de fois que client à fait un revenu
10          DATA_VOLUME                               nombre de connexions
11               ON_NET                               appel inter expresso
12               ORANGE                                  appel vers orange
13                 TIGO                                    appel vers Tigo
14                ZONE1                               appel vers les zone1
15                ZONE2                               appel vers les zone2
16                  MRG                          un client qui fait du vas
17           REGULARITY  nombre de fois que le client est actif pendant...
18             TOP_PACK                          les pack les plus activés
19        FREQ_TOP_PACK  nombre de fois que le client a activé les pack...
20                CHURN                        variable à predire - Target

                                           Unnamed: 2
0                                             English
1   The churn dataset includes 19 variables includ...
2                                                 NaN
3                         the location of each client
4                             duration in the network
5                                       top-up amount
6               number of times the customer refilled
7                       monthly income of each client
8                             income over 90 days / 3
9       number of times the client has made an income
10                              number of connections
11                                inter expresso call
12                                     call to orange
13                                       call to Tigo
14                                     call to zones1
15                                     call to zones2
16                              a client who is going
17   number of times the client is active for 90 days
18                              the most active packs
19  number of times the client has activated the t...
20                       variable to predict - Target  >

In [ ]:
# inspect train data
train.head()

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,7ee9e11e342e27c70455960acc80d3f91c1286d1,DAKAR,K > 24 month,20000.0,47.0,21602.0,7201.0,52.0,8835.0,3391.0,396.0,185.0,NaN,NaN,NO,62.0,On net 200F=Unlimited _call24H,30.0,0.0
1,50443f42bdc92b10388fc56e520e4421a5fa655c,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,3.0,NaN,NaN,0.0
2,da90b5c1a9b204c186079f89969aa01cb03c91b2,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,1.0,NaN,NaN,0.0
3,364ec1b424cdc64c25441a444a16930289a0051e,SAINT-LOUIS,K > 24 month,7900.0,19.0,7896.0,2632.0,25.0,9385.0,27.0,46.0,20.0,NaN,2.0,NO,61.0,"Data:490F=1GB,7d",7.0,0.0
4,d5a5247005bc6d41d3d99f4ef312ebb5f640f2cb,DAKAR,K > 24 month,12350.0,21.0,12351.0,4117.0,29.0,9360.0,66.0,102.0,34.0,NaN,NaN,NO,56.0,All-net 500F=2000F;5d,11.0,0.0

In [ ]:
ss = pd.read_csv('SampleSubmission.csv')
ss.head()

                                    user_id  CHURN
0  51fe4c3347db1f8571d18ac03f716c41acee30a4      0
1  5ad5d67c175bce107cc97b98c4e37dcc38aa7f3e      0
2  5a4db591c953a8d8f373877fad37aaf4268899a1      0
3  8bf9b4d8880aeba1c9a0da48be78f12e629be37c      0
4  c7cdf2af01e9fa95bf498b68c122aa4b9a8d10df      0

In [ ]:
#show some information about the dataset
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5387 entries, 221 to 1076964
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         5387 non-null   object
 1   REGION          5387 non-null   object
 2   TENURE          5387 non-null   object
 3   MONTANT         5387 non-null   float64
 4   FREQUENCE_RECH  5387 non-null   float64
 5   REVENUE         5387 non-null   float64
 6   ARPU_SEGMENT    5387 non-null   float64
 7   FREQUENCE       5387 non-null   float64
 8   DATA_VOLUME     5387 non-null   float64
 9   ON_NET          5387 non-null   float64
 10  ORANGE          5387 non-null   float64
 11  TIGO            5387 non-null   float64
 12  ZONE1           5387 non-null   float64
 13  ZONE2           5387 non-null   float64
 14  MRG             5387 non-null   object
 15  REGULARITY      5387 non-null   int64
 16  TOP_PACK        5387 non-null   object
 17  FREQ_TOP_PACK   5387 non-null   float64
 18  CHURN           5387 non-null   int64
dtypes: float64(12), int64(2), object(5)
memory usage: 841.7+ KB
None

In [ ]:
df1 = pd.read_csv("Train.csv")
df1.head()

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,7ee9e11e342e27c70455960acc80d3f91c1286d1,DAKAR,K > 24 month,20000.0,47.0,21602.0,7201.0,52.0,8835.0,3391.0,396.0,185.0,NaN,NaN,NO,62,On net 200F=Unlimited _call24H,30.0,0
1,50443f42bdc92b10388fc56e520e4421a5fa655c,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,3,NaN,NaN,0
2,da90b5c1a9b204c186079f89969aa01cb03c91b2,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,1,NaN,NaN,0
3,364ec1b424cdc64c25441a444a16930289a0051e,SAINT-LOUIS,K > 24 month,7900.0,19.0,7896.0,2632.0,25.0,9385.0,27.0,46.0,20.0,NaN,2.0,NO,61,"Data:490F=1GB,7d",7.0,0
4,d5a5247005bc6d41d3d99f4ef312ebb5f640f2cb,DAKAR,K > 24 month,12350.0,21.0,12351.0,4117.0,29.0,9360.0,66.0,102.0,34.0,NaN,NaN,NO,56,All-net 500F=2000F;5d,11.0,0

In [ ]:
## ZINDI CHALLENGE

In [ ]:
import warnings
warnings.filterwarnings('ignore')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
!pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (1.1.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (4.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.1.0)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from catboost import CatBoostClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import log_loss
from sklearn.model_selection import train_test_split, KFold
import re

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
# load datasets
train = pd.read_csv("Train.csv")
test  = pd.read_csv("Test.csv")
sample  = pd.read_csv("SampleSubmission.csv")
var = pd.read_csv('VariableDefinitions.csv')

In [ ]:
train.head(2)
train.shape

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,7ee9e11e342e27c70455960acc80d3f91c1286d1,DAKAR,K > 24 month,20000.0,47.0,21602.0,7201.0,52.0,8835.0,3391.0,396.0,185.0,NaN,NaN,NO,62,On net 200F=Unlimited _call24H,30.0,0
1,50443f42bdc92b10388fc56e520e4421a5fa655c,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,3,NaN,NaN,0

(1077024, 19)

In [ ]:
test.shape

(190063, 18)

In [ ]:
train.REGULARITY.nunique()

62

In [ ]:
train.isna().sum() / train.shape[0]

user_id           0.000000
REGION            0.393990
TENURE            0.000000
MONTANT           0.350860
FREQUENCE_RECH    0.350860
REVENUE           0.336441
ARPU_SEGMENT      0.336441
FREQUENCE         0.336441
DATA_VOLUME       0.491877
ON_NET            0.365056
ORANGE            0.415166
TIGO              0.598663
ZONE1             0.921174
ZONE2             0.936126
MRG               0.000000
REGULARITY        0.000000
TOP_PACK          0.418649
FREQ_TOP_PACK     0.418649
CHURN             0.000000
dtype: float64

In [ ]:
useless = ['user_id', 'MRG']

In [ ]:
train.REGION.fillna('REG',inplace=True)
test.REGION.fillna('REG',inplace=True)

In [ ]:
train.TOP_PACK.fillna('PACK',inplace=True)
test.TOP_PACK.fillna('PACK',inplace=True)

In [ ]:
minus_999999 = ['MONTANT','FREQUENCE_RECH','REVENUE','ARPU_SEGMENT','FREQUENCE','DATA_VOLUME','ON_NET','ORANGE','FREQ_TOP_PACK','TIGO','ZONE1','ZONE2']

In [ ]:
for col in minus_999999:
    train[col].fillna(-99999, inplace=True)
    test[col].fillna(-99999, inplace=True)

In [ ]:
train.drop(columns=[i for i in useless], inplace=True)
test.drop(columns=[i for i in useless], inplace=True)

In [ ]:
data = pd.concat([train,test],axis=0)
data = data.reset_index(drop=True)

In [ ]:
def tenure(x):
    'function to encode the Tenure based on the lowest amount of month spent'
    if x == 'K > 24 month':
        return 24
    elif x == 'H 15-18 month':
        return 15
    elif x == 'G 12-15 month':
        return 12
    elif x == 'J 21-24 month':
        return 21
    elif x == 'I 18-21 month':
        return 18
    elif x == 'E 6-9 month':
        return 6
    elif x == 'F 9-12 month':
        return 9
    elif x == 'D 3-6 month':
        return 3
    else:
        pass

In [ ]:
data.TENURE = data.TENURE.apply(tenure)

In [ ]:
categ = ['REGION','TOP_PACK']

In [ ]:
len(data.REGION.unique()), len(data.TOP_PACK.unique())

(15, 129)

In [ ]:
data = pd.get_dummies(data, prefix = categ, columns = categ)

In [ ]:
data.head(3)

,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,...,TOP_PACK_VAS(IVR_Radio_Weekly),TOP_PACK_WIFI_ Family _10MBPS,TOP_PACK_WIFI_ Family _4MBPS,TOP_PACK_WIFI_Family_2MBPS,"TOP_PACK_YMGX 100=1 hour FNF, 24H/1 month","TOP_PACK_YMGX on-net 100=700F, 24H",TOP_PACK_Yewouleen_PKG,TOP_PACK_pack_chinguitel_24h,TOP_PACK_pilot_offer4,TOP_PACK_pilot_offer6
0,24,20000.0,47.0,21602.0,7201.0,52.0,8835.0,3391.0,396.0,185.0,...,0,0,0,0,0,0,0,0,0,0
1,24,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,...,0,0,0,0,0,0,0,0,0,0
2,24,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
data['income_per_topup_amount'] = data['REVENUE'] / data['MONTANT']
data['active_per_duration'] =  data['TENURE'] / data['REGULARITY']
data['income_to_amount_ratio'] = data['REVENUE'] / data['MONTANT']
data['income_left_after_top_up'] = data['REVENUE'] - data['MONTANT']
data['tenure_to_topup_frequency'] = data['TENURE'] / data['FREQUENCE_RECH']
data['income_in90days_perRevenue'] = data['ARPU_SEGMENT'] / data['REVENUE']

In [ ]:
train=data[data.CHURN.notnull()].reset_index(drop=True)
test=data[data.CHURN.isna()].reset_index(drop=True)

In [ ]:
y = train.CHURN
train.drop('CHURN', axis=1, inplace=True)
test.drop('CHURN', axis=1, inplace=True)

In [ ]:
test.head(2)
train.shape

,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,...,TOP_PACK_Yewouleen_PKG,TOP_PACK_pack_chinguitel_24h,TOP_PACK_pilot_offer4,TOP_PACK_pilot_offer6,income_per_topup_amount,active_per_duration,income_to_amount_ratio,income_left_after_top_up,tenure_to_topup_frequency,income_in90days_perRevenue
0,18,2500.0,5.0,2500.0,833.0,5.0,0.0,64.0,70.0,-99999.0,...,0,0,0,0,1.0,0.514286,1.0,0.0,3.60000,0.3332
1,24,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,...,0,0,0,0,1.0,12.000000,1.0,0.0,-0.00024,1.0000

(1077024, 164)

In [ ]:
c = [i for i in train.columns if train[i].dtype == object]
len(c)

0

In [ ]:
train.shape, y.shape, test.shape

((1077024, 164), (1077024,), (190063, 164))

In [ ]:
train.head(5)

,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,...,TOP_PACK_Yewouleen_PKG,TOP_PACK_pack_chinguitel_24h,TOP_PACK_pilot_offer4,TOP_PACK_pilot_offer6,income_per_topup_amount,active_per_duration,income_to_amount_ratio,income_left_after_top_up,tenure_to_topup_frequency,income_in90days_perRevenue
0,24,20000.0,47.0,21602.0,7201.0,52.0,8835.0,3391.0,396.0,185.0,...,0,0,0,0,1.080100,0.387097,1.080100,1602.0,0.510638,0.333349
1,24,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,...,0,0,0,0,1.000000,8.000000,1.000000,0.0,-0.000240,1.000000
2,24,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,...,0,0,0,0,1.000000,24.000000,1.000000,0.0,-0.000240,1.000000
3,24,7900.0,19.0,7896.0,2632.0,25.0,9385.0,27.0,46.0,20.0,...,0,0,0,0,0.999494,0.393443,0.999494,-4.0,1.263158,0.333333
4,24,12350.0,21.0,12351.0,4117.0,29.0,9360.0,66.0,102.0,34.0,...,0,0,0,0,1.000081,0.428571,1.000081,1.0,1.142857,0.333333

In [ ]:
clust = [
'REVENUE',
'MONTANT',
'FREQUENCE_RECH',
'ARPU_SEGMENT',
'FREQUENCE',
'ON_NET',
'ORANGE',
'REGULARITY',
'FREQ_TOP_PACK',
'REGION_REG',
'TOP_PACK_PACK']

In [ ]:
kmeans = KMeans(
        n_clusters=2, init='k-means++',
        n_init=20, max_iter=300,
        tol=1e-04, random_state=0
    )

In [ ]:
%%capture 
#To avoid clumsy cell output

for col in clust:
    if train[col].dtype == object:
        dummies = pd.get_dummies(train[col], drop_first=True)
        test_dum = pd.get_dummies(test[col], drop_first=True)
        kmeans.fit(dummies)
        train[col+'_grouped'] = kmeans.labels_
        test[col+'_grouped'] = kmeans.predict(test_dum)
    else:
        kmeans.fit(pd.DataFrame(train[col]))
        train[col+'_grouped'] = kmeans.labels_
        test[col+'_grouped'] = kmeans.predict(pd.DataFrame(test[col]))

In [ ]:
train.shape, test.shape

((1077024, 175), (190063, 175))

In [ ]:
del data

In [ ]:
sum(train.isna().sum())

0

In [ ]:
km = KMeans(
        n_clusters=2, init='k-means++',
        n_init=20, max_iter=300,
        tol=1e-04, random_state=0
    )

In [ ]:
km.fit(train)

KMeans(n_clusters=2, n_init=20, random_state=0)

In [ ]:
train['groups'] = km.labels_
test['groups'] = km.predict(test)

In [ ]:
train.shape, y.shape, test.shape

((1077024, 176), (1077024,), (190063, 176))

In [ ]:
train.head(3)

,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,...,FREQUENCE_RECH_grouped,ARPU_SEGMENT_grouped,FREQUENCE_grouped,ON_NET_grouped,ORANGE_grouped,REGULARITY_grouped,FREQ_TOP_PACK_grouped,REGION_REG_grouped,TOP_PACK_PACK_grouped,groups
0,24,20000.0,47.0,21602.0,7201.0,52.0,8835.0,3391.0,396.0,185.0,...,0,0,0,0,0,0,0,0,0,0
1,24,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,...,1,1,1,1,1,1,1,1,1,1
2,24,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,...,1,1,1,1,1,1,1,1,1,1

In [ ]:
X_1, X_2, y_1, y_2 = train_test_split(train, y, test_size = 0.01, random_state = 0)

In [ ]:
X_3, X_4, y_3, y_4 = train_test_split(X_2, y_2, test_size = 0.1, random_state = 0)

In [ ]:

X_3.shape, y_3.shape

((9693, 176), (9693,))

In [ ]:
val_model = CatBoostClassifier(random_seed = 10, n_estimators = 1000)

In [ ]:
%%capture 
#In the real sense we want to see how the model's doing but I did this to avoid long training lines on github

val_model.fit(X_3, y_3)

Learning rate set to 0.027174
0:	learn: 0.6504029	total: 18ms	remaining: 18s
1:	learn: 0.6085357	total: 26.9ms	remaining: 13.4s
2:	learn: 0.5735465	total: 36.1ms	remaining: 12s
3:	learn: 0.5422436	total: 44.6ms	remaining: 11.1s
4:	learn: 0.5111304	total: 53.4ms	remaining: 10.6s
5:	learn: 0.4857483	total: 62.2ms	remaining: 10.3s
6:	learn: 0.4613825	total: 70.7ms	remaining: 10s
7:	learn: 0.4400514	total: 79.5ms	remaining: 9.86s
8:	learn: 0.4228577	total: 88.2ms	remaining: 9.71s
9:	learn: 0.4074173	total: 97.2ms	remaining: 9.62s
10:	learn: 0.3913339	total: 106ms	remaining: 9.53s
11:	learn: 0.3779811	total: 115ms	remaining: 9.49s
12:	learn: 0.3669091	total: 124ms	remaining: 9.43s
13:	learn: 0.3580528	total: 133ms	remaining: 9.36s
14:	learn: 0.3480524	total: 142ms	remaining: 9.32s
15:	learn: 0.3386783	total: 151ms	remaining: 9.28s
16:	learn: 0.3310911	total: 161ms	remaining: 9.31s
17:	learn: 0.3252141	total: 170ms	remaining: 9.27s
18:	learn: 0.3192808	total: 184ms	remaining: 9.51s
19:	learn: 0.3137740	total: 194ms	remaining: 9.49s
20:	learn: 0.3088364	total: 203ms	remaining: 9.48s
21:	learn: 0.3042449	total: 216ms	remaining: 9.61s
22:	learn: 0.3002506	total: 225ms	remaining: 9.57s
23:	learn: 0.2962272	total: 235ms	remaining: 9.54s
24:	learn: 0.2925918	total: 245ms	remaining: 9.54s
25:	learn: 0.2895797	total: 255ms	remaining: 9.55s
26:	learn: 0.2868892	total: 265ms	remaining: 9.54s
27:	learn: 0.2843125	total: 274ms	remaining: 9.5s
28:	learn: 0.2817617	total: 283ms	remaining: 9.48s
29:	learn: 0.2794902	total: 293ms	remaining: 9.47s
30:	learn: 0.2773880	total: 302ms	remaining: 9.45s
31:	learn: 0.2756680	total: 311ms	remaining: 9.41s
32:	learn: 0.2738056	total: 320ms	remaining: 9.38s
33:	learn: 0.2723559	total: 329ms	remaining: 9.35s
34:	learn: 0.2709389	total: 338ms	remaining: 9.31s
35:	learn: 0.2696393	total: 348ms	remaining: 9.31s
36:	learn: 0.2682595	total: 357ms	remaining: 9.29s
37:	learn: 0.2670724	total: 366ms	remaining: 9.27s
38:	learn: 0.2659934	total: 375ms	remaining: 9.24s
39:	learn: 0.2649186	total: 389ms	remaining: 9.35s
40:	learn: 0.2639600	total: 399ms	remaining: 9.33s
41:	learn: 0.2631030	total: 408ms	remaining: 9.3s
42:	learn: 0.2624866	total: 416ms	remaining: 9.26s
43:	learn: 0.2616496	total: 426ms	remaining: 9.25s
44:	learn: 0.2609720	total: 434ms	remaining: 9.22s
45:	learn: 0.2600819	total: 443ms	remaining: 9.19s
46:	learn: 0.2593071	total: 467ms	remaining: 9.47s
47:	learn: 0.2586363	total: 476ms	remaining: 9.45s
48:	learn: 0.2579144	total: 486ms	remaining: 9.42s
49:	learn: 0.2573734	total: 500ms	remaining: 9.5s
50:	learn: 0.2567906	total: 514ms	remaining: 9.57s
51:	learn: 0.2562609	total: 526ms	remaining: 9.59s
52:	learn: 0.2558153	total: 537ms	remaining: 9.6s
53:	learn: 0.2552422	total: 546ms	remaining: 9.56s
54:	learn: 0.2547787	total: 557ms	remaining: 9.57s
55:	learn: 0.2543830	total: 566ms	remaining: 9.55s
56:	learn: 0.2539303	total: 575ms	remaining: 9.51s
57:	learn: 0.2534823	total: 585ms	remaining: 9.49s
58:	learn: 0.2531420	total: 595ms	remaining: 9.49s
59:	learn: 0.2527484	total: 604ms	remaining: 9.46s
60:	learn: 0.2526151	total: 612ms	remaining: 9.41s
61:	learn: 0.2522518	total: 620ms	remaining: 9.38s
62:	learn: 0.2519431	total: 629ms	remaining: 9.35s
63:	learn: 0.2516299	total: 639ms	remaining: 9.34s
64:	learn: 0.2512840	total: 648ms	remaining: 9.32s
65:	learn: 0.2509743	total: 656ms	remaining: 9.29s
66:	learn: 0.2507251	total: 665ms	remaining: 9.26s
67:	learn: 0.2503775	total: 675ms	remaining: 9.26s
68:	learn: 0.2501472	total: 685ms	remaining: 9.24s
69:	learn: 0.2499893	total: 694ms	remaining: 9.22s
70:	learn: 0.2497963	total: 703ms	remaining: 9.2s
71:	learn: 0.2495900	total: 712ms	remaining: 9.18s
72:	learn: 0.2492437	total: 721ms	remaining: 9.15s
73:	learn: 0.2490640	total: 730ms	remaining: 9.13s
74:	learn: 0.2488519	total: 739ms	remaining: 9.11s
75:	learn: 0.2486533	total: 747ms	remaining: 9.08s
76:	learn: 0.2484695	total: 756ms	remaining: 9.06s
77:	learn: 0.2483426	total: 764ms	remaining: 9.03s
78:	learn: 0.2482420	total: 773ms	remaining: 9.01s
79:	learn: 0.2479973	total: 787ms	remaining: 9.05s
80:	learn: 0.2477814	total: 796ms	remaining: 9.03s
81:	learn: 0.2475786	total: 805ms	remaining: 9.01s
82:	learn: 0.2474297	total: 814ms	remaining: 8.99s
83:	learn: 0.2472742	total: 823ms	remaining: 8.97s
84:	learn: 0.2471277	total: 832ms	remaining: 8.95s
85:	learn: 0.2469787	total: 841ms	remaining: 8.93s
86:	learn: 0.2468528	total: 849ms	remaining: 8.91s
87:	learn: 0.2466820	total: 858ms	remaining: 8.89s
88:	learn: 0.2465059	total: 873ms	remaining: 8.93s
89:	learn: 0.2463311	total: 881ms	remaining: 8.91s
90:	learn: 0.2462189	total: 891ms	remaining: 8.9s
91:	learn: 0.2460882	total: 900ms	remaining: 8.89s
92:	learn: 0.2459448	total: 910ms	remaining: 8.87s
93:	learn: 0.2458197	total: 919ms	remaining: 8.85s
94:	learn: 0.2456196	total: 928ms	remaining: 8.84s
95:	learn: 0.2454529	total: 936ms	remaining: 8.81s
96:	learn: 0.2453132	total: 945ms	remaining: 8.79s
97:	learn: 0.2451382	total: 953ms	remaining: 8.77s
98:	learn: 0.2450270	total: 962ms	remaining: 8.76s
99:	learn: 0.2449116	total: 971ms	remaining: 8.74s
100:	learn: 0.2448280	total: 979ms	remaining: 8.72s
101:	learn: 0.2447668	total: 993ms	remaining: 8.74s
102:	learn: 0.2446166	total: 1s	remaining: 8.72s
103:	learn: 0.2445334	total: 1.01s	remaining: 8.7s
104:	learn: 0.2443979	total: 1.02s	remaining: 8.68s
105:	learn: 0.2442897	total: 1.03s	remaining: 8.66s
106:	learn: 0.2441266	total: 1.04s	remaining: 8.65s
107:	learn: 0.2439861	total: 1.04s	remaining: 8.63s
108:	learn: 0.2439034	total: 1.05s	remaining: 8.61s
109:	learn: 0.2437798	total: 1.06s	remaining: 8.6s
110:	learn: 0.2436678	total: 1.07s	remaining: 8.59s
111:	learn: 0.2435532	total: 1.09s	remaining: 8.64s
112:	learn: 0.2434579	total: 1.1s	remaining: 8.62s
113:	learn: 0.2433562	total: 1.11s	remaining: 8.61s
114:	learn: 0.2432846	total: 1.12s	remaining: 8.59s
115:	learn: 0.2432505	total: 1.12s	remaining: 8.57s
116:	learn: 0.2431485	total: 1.14s	remaining: 8.59s
117:	learn: 0.2430576	total: 1.15s	remaining: 8.57s
118:	learn: 0.2428986	total: 1.16s	remaining: 8.56s
119:	learn: 0.2428447	total: 1.17s	remaining: 8.54s
120:	learn: 0.2427614	total: 1.17s	remaining: 8.52s
121:	learn: 0.2426819	total: 1.18s	remaining: 8.51s
122:	learn: 0.2425927	total: 1.2s	remaining: 8.52s
123:	learn: 0.2425154	total: 1.2s	remaining: 8.5s
124:	learn: 0.2424089	total: 1.21s	remaining: 8.49s
125:	learn: 0.2422761	total: 1.22s	remaining: 8.47s
126:	learn: 0.2421737	total: 1.23s	remaining: 8.46s
127:	learn: 0.2421101	total: 1.24s	remaining: 8.44s
128:	learn: 0.2420660	total: 1.25s	remaining: 8.43s
129:	learn: 0.2419681	total: 1.26s	remaining: 8.41s
130:	learn: 0.2419465	total: 1.26s	remaining: 8.39s
131:	learn: 0.2418679	total: 1.27s	remaining: 8.38s
132:	learn: 0.2417610	total: 1.29s	remaining: 8.38s
133:	learn: 0.2417052	total: 1.3s	remaining: 8.38s
134:	learn: 0.2415988	total: 1.31s	remaining: 8.37s
135:	learn: 0.2414966	total: 1.31s	remaining: 8.36s
136:	learn: 0.2414616	total: 1.32s	remaining: 8.35s
137:	learn: 0.2413781	total: 1.33s	remaining: 8.33s
138:	learn: 0.2413452	total: 1.34s	remaining: 8.31s
139:	learn: 0.2412630	total: 1.35s	remaining: 8.3s
140:	learn: 0.2411641	total: 1.36s	remaining: 8.29s
141:	learn: 0.2411131	total: 1.37s	remaining: 8.27s
142:	learn: 0.2410218	total: 1.38s	remaining: 8.26s
143:	learn: 0.2409353	total: 1.39s	remaining: 8.25s
144:	learn: 0.2408219	total: 1.4s	remaining: 8.26s
145:	learn: 0.2407974	total: 1.41s	remaining: 8.24s
146:	learn: 0.2407510	total: 1.42s	remaining: 8.22s
147:	learn: 0.2406651	total: 1.43s	remaining: 8.21s
148:	learn: 0.2405638	total: 1.44s	remaining: 8.2s
149:	learn: 0.2405099	total: 1.45s	remaining: 8.19s
150:	learn: 0.2404783	total: 1.45s	remaining: 8.18s
151:	learn: 0.2403722	total: 1.46s	remaining: 8.16s
152:	learn: 0.2403078	total: 1.47s	remaining: 8.14s
153:	learn: 0.2402114	total: 1.48s	remaining: 8.13s
154:	learn: 0.2401788	total: 1.49s	remaining: 8.12s
155:	learn: 0.2401118	total: 1.5s	remaining: 8.12s
156:	learn: 0.2400093	total: 1.52s	remaining: 8.16s
157:	learn: 0.2399623	total: 1.53s	remaining: 8.15s
158:	learn: 0.2398338	total: 1.54s	remaining: 8.14s
159:	learn: 0.2397808	total: 1.55s	remaining: 8.12s
160:	learn: 0.2396557	total: 1.55s	remaining: 8.1s
161:	learn: 0.2396192	total: 1.56s	remaining: 8.09s
162:	learn: 0.2395365	total: 1.57s	remaining: 8.07s
163:	learn: 0.2395096	total: 1.58s	remaining: 8.05s
164:	learn: 0.2394458	total: 1.59s	remaining: 8.04s
165:	learn: 0.2394252	total: 1.6s	remaining: 8.04s
166:	learn: 0.2393273	total: 1.61s	remaining: 8.03s
167:	learn: 0.2392685	total: 1.62s	remaining: 8.01s
168:	learn: 0.2392171	total: 1.63s	remaining: 8s
169:	learn: 0.2391194	total: 1.64s	remaining: 7.98s
170:	learn: 0.2390639	total: 1.64s	remaining: 7.97s
171:	learn: 0.2389446	total: 1.65s	remaining: 7.95s
172:	learn: 0.2388804	total: 1.66s	remaining: 7.94s
173:	learn: 0.2388128	total: 1.67s	remaining: 7.93s
174:	learn: 0.2387585	total: 1.68s	remaining: 7.91s
175:	learn: 0.2386935	total: 1.69s	remaining: 7.9s
176:	learn: 0.2386581	total: 1.7s	remaining: 7.89s
177:	learn: 0.2386293	total: 1.71s	remaining: 7.88s
178:	learn: 0.2385251	total: 1.71s	remaining: 7.86s
179:	learn: 0.2384036	total: 1.72s	remaining: 7.85s
180:	learn: 0.2383324	total: 1.73s	remaining: 7.83s
181:	learn: 0.2382365	total: 1.74s	remaining: 7.82s
182:	learn: 0.2382109	total: 1.75s	remaining: 7.81s
183:	learn: 0.2381433	total: 1.76s	remaining: 7.8s
184:	learn: 0.2380955	total: 1.77s	remaining: 7.79s
185:	learn: 0.2380593	total: 1.78s	remaining: 7.78s
186:	learn: 0.2379575	total: 1.79s	remaining: 7.77s
187:	learn: 0.2378731	total: 1.8s	remaining: 7.78s
188:	learn: 0.2378305	total: 1.81s	remaining: 7.77s
189:	learn: 0.2377978	total: 1.82s	remaining: 7.76s
190:	learn: 0.2377717	total: 1.83s	remaining: 7.74s
191:	learn: 0.2377545	total: 1.84s	remaining: 7.74s
192:	learn: 0.2377088	total: 1.85s	remaining: 7.73s
193:	learn: 0.2376410	total: 1.86s	remaining: 7.72s
194:	learn: 0.2375497	total: 1.87s	remaining: 7.71s
195:	learn: 0.2374730	total: 1.88s	remaining: 7.7s
196:	learn: 0.2374601	total: 1.88s	remaining: 7.68s
197:	learn: 0.2374056	total: 1.89s	remaining: 7.67s
198:	learn: 0.2372906	total: 1.9s	remaining: 7.66s
199:	learn: 0.2372409	total: 1.91s	remaining: 7.64s
200:	learn: 0.2371129	total: 1.92s	remaining: 7.63s
201:	learn: 0.2369425	total: 1.93s	remaining: 7.62s
202:	learn: 0.2368698	total: 1.94s	remaining: 7.63s
203:	learn: 0.2368299	total: 1.95s	remaining: 7.62s
204:	learn: 0.2367961	total: 1.96s	remaining: 7.6s
205:	learn: 0.2367508	total: 1.97s	remaining: 7.59s
206:	learn: 0.2366571	total: 1.98s	remaining: 7.58s
207:	learn: 0.2366291	total: 1.99s	remaining: 7.56s
208:	learn: 0.2365866	total: 1.99s	remaining: 7.55s
209:	learn: 0.2365266	total: 2.01s	remaining: 7.55s
210:	learn: 0.2365102	total: 2.02s	remaining: 7.54s
211:	learn: 0.2364196	total: 2.02s	remaining: 7.52s
212:	learn: 0.2363718	total: 2.03s	remaining: 7.51s
213:	learn: 0.2363474	total: 2.04s	remaining: 7.5s
214:	learn: 0.2362662	total: 2.05s	remaining: 7.49s
215:	learn: 0.2362509	total: 2.06s	remaining: 7.47s
216:	learn: 0.2361441	total: 2.07s	remaining: 7.46s
217:	learn: 0.2361263	total: 2.08s	remaining: 7.45s
218:	learn: 0.2360602	total: 2.08s	remaining: 7.43s
219:	learn: 0.2360038	total: 2.09s	remaining: 7.42s
220:	learn: 0.2359723	total: 2.1s	remaining: 7.4s
221:	learn: 0.2359108	total: 2.11s	remaining: 7.39s
222:	learn: 0.2358872	total: 2.12s	remaining: 7.38s
223:	learn: 0.2358573	total: 2.13s	remaining: 7.37s
224:	learn: 0.2358274	total: 2.13s	remaining: 7.35s
225:	learn: 0.2357937	total: 2.14s	remaining: 7.34s
226:	learn: 0.2357246	total: 2.15s	remaining: 7.33s
227:	learn: 0.2356909	total: 2.16s	remaining: 7.31s
228:	learn: 0.2356746	total: 2.17s	remaining: 7.3s
229:	learn: 0.2356355	total: 2.18s	remaining: 7.29s
230:	learn: 0.2355231	total: 2.19s	remaining: 7.29s
231:	learn: 0.2354623	total: 2.2s	remaining: 7.27s
232:	learn: 0.2354560	total: 2.21s	remaining: 7.28s
233:	learn: 0.2353806	total: 2.22s	remaining: 7.27s
234:	learn: 0.2353666	total: 2.23s	remaining: 7.25s
235:	learn: 0.2352966	total: 2.24s	remaining: 7.25s
236:	learn: 0.2352148	total: 2.25s	remaining: 7.24s
237:	learn: 0.2351138	total: 2.26s	remaining: 7.23s
238:	learn: 0.2350516	total: 2.27s	remaining: 7.22s
239:	learn: 0.2349239	total: 2.27s	remaining: 7.21s
240:	learn: 0.2349015	total: 2.29s	remaining: 7.2s
241:	learn: 0.2348303	total: 2.29s	remaining: 7.18s
242:	learn: 0.2347769	total: 2.3s	remaining: 7.17s
243:	learn: 0.2347679	total: 2.31s	remaining: 7.16s
244:	learn: 0.2347574	total: 2.32s	remaining: 7.15s
245:	learn: 0.2347252	total: 2.33s	remaining: 7.14s
246:	learn: 0.2346983	total: 2.34s	remaining: 7.13s
247:	learn: 0.2346640	total: 2.35s	remaining: 7.12s
248:	learn: 0.2346191	total: 2.35s	remaining: 7.11s
249:	learn: 0.2345797	total: 2.36s	remaining: 7.09s
250:	learn: 0.2345364	total: 2.37s	remaining: 7.08s
251:	learn: 0.2345220	total: 2.38s	remaining: 7.07s
252:	learn: 0.2344220	total: 2.39s	remaining: 7.05s
253:	learn: 0.2343986	total: 2.4s	remaining: 7.04s
254:	learn: 0.2343872	total: 2.41s	remaining: 7.03s
255:	learn: 0.2343405	total: 2.42s	remaining: 7.02s
256:	learn: 0.2342448	total: 2.43s	remaining: 7.04s
257:	learn: 0.2341642	total: 2.44s	remaining: 7.03s
258:	learn: 0.2340620	total: 2.45s	remaining: 7.02s
259:	learn: 0.2339598	total: 2.46s	remaining: 7s
260:	learn: 0.2339193	total: 2.47s	remaining: 6.99s
261:	learn: 0.2338609	total: 2.48s	remaining: 7s
262:	learn: 0.2338423	total: 2.5s	remaining: 6.99s
263:	learn: 0.2337600	total: 2.51s	remaining: 6.99s
264:	learn: 0.2337027	total: 2.51s	remaining: 6.97s
265:	learn: 0.2336933	total: 2.52s	remaining: 6.96s
266:	learn: 0.2336530	total: 2.53s	remaining: 6.95s
267:	learn: 0.2335681	total: 2.54s	remaining: 6.94s
268:	learn: 0.2335141	total: 2.55s	remaining: 6.92s
269:	learn: 0.2334302	total: 2.56s	remaining: 6.91s
270:	learn: 0.2333661	total: 2.56s	remaining: 6.9s
271:	learn: 0.2332922	total: 2.57s	remaining: 6.89s
272:	learn: 0.2332347	total: 2.58s	remaining: 6.88s
273:	learn: 0.2331984	total: 2.59s	remaining: 6.87s
274:	learn: 0.2331703	total: 2.6s	remaining: 6.86s
275:	learn: 0.2331579	total: 2.61s	remaining: 6.85s
276:	learn: 0.2331060	total: 2.62s	remaining: 6.84s
277:	learn: 0.2330588	total: 2.63s	remaining: 6.83s
278:	learn: 0.2330420	total: 2.64s	remaining: 6.82s
279:	learn: 0.2330229	total: 2.65s	remaining: 6.8s
280:	learn: 0.2329988	total: 2.65s	remaining: 6.79s
281:	learn: 0.2329706	total: 2.66s	remaining: 6.78s
282:	learn: 0.2329282	total: 2.67s	remaining: 6.77s
283:	learn: 0.2328993	total: 2.68s	remaining: 6.76s
284:	learn: 0.2328582	total: 2.69s	remaining: 6.75s
285:	learn: 0.2328328	total: 2.7s	remaining: 6.73s
286:	learn: 0.2327733	total: 2.71s	remaining: 6.72s
287:	learn: 0.2327177	total: 2.71s	remaining: 6.71s
288:	learn: 0.2326549	total: 2.72s	remaining: 6.7s
289:	learn: 0.2326234	total: 2.74s	remaining: 6.71s
290:	learn: 0.2325481	total: 2.75s	remaining: 6.71s
291:	learn: 0.2325388	total: 2.76s	remaining: 6.7s
292:	learn: 0.2324810	total: 2.77s	remaining: 6.69s
293:	learn: 0.2324452	total: 2.78s	remaining: 6.67s
294:	learn: 0.2323206	total: 2.79s	remaining: 6.67s
295:	learn: 0.2322736	total: 2.8s	remaining: 6.66s
296:	learn: 0.2322530	total: 2.81s	remaining: 6.65s
297:	learn: 0.2322127	total: 2.82s	remaining: 6.64s
298:	learn: 0.2321866	total: 2.83s	remaining: 6.63s
299:	learn: 0.2321436	total: 2.84s	remaining: 6.62s
300:	learn: 0.2320865	total: 2.84s	remaining: 6.61s
301:	learn: 0.2320463	total: 2.85s	remaining: 6.6s
302:	learn: 0.2320156	total: 2.86s	remaining: 6.58s
303:	learn: 0.2319733	total: 2.87s	remaining: 6.57s
304:	learn: 0.2319478	total: 2.88s	remaining: 6.56s
305:	learn: 0.2318967	total: 2.89s	remaining: 6.55s
306:	learn: 0.2318146	total: 2.9s	remaining: 6.54s
307:	learn: 0.2317634	total: 2.9s	remaining: 6.52s
308:	learn: 0.2316740	total: 2.91s	remaining: 6.51s
309:	learn: 0.2316058	total: 2.92s	remaining: 6.5s
310:	learn: 0.2315565	total: 2.93s	remaining: 6.49s
311:	learn: 0.2314649	total: 2.94s	remaining: 6.48s
312:	learn: 0.2314108	total: 2.95s	remaining: 6.47s
313:	learn: 0.2313802	total: 2.96s	remaining: 6.47s
314:	learn: 0.2313067	total: 2.97s	remaining: 6.46s
315:	learn: 0.2312752	total: 2.98s	remaining: 6.45s
316:	learn: 0.2311977	total: 2.99s	remaining: 6.44s
317:	learn: 0.2311574	total: 3s	remaining: 6.44s
318:	learn: 0.2311425	total: 3.01s	remaining: 6.42s
319:	learn: 0.2310497	total: 3.02s	remaining: 6.41s
320:	learn: 0.2309910	total: 3.02s	remaining: 6.4s
321:	learn: 0.2309300	total: 3.03s	remaining: 6.39s
322:	learn: 0.2309195	total: 3.04s	remaining: 6.37s
323:	learn: 0.2308287	total: 3.05s	remaining: 6.36s
324:	learn: 0.2307400	total: 3.06s	remaining: 6.35s
325:	learn: 0.2307066	total: 3.07s	remaining: 6.34s
326:	learn: 0.2305979	total: 3.08s	remaining: 6.33s
327:	learn: 0.2305598	total: 3.08s	remaining: 6.32s
328:	learn: 0.2304961	total: 3.09s	remaining: 6.31s
329:	learn: 0.2304116	total: 3.1s	remaining: 6.29s
330:	learn: 0.2303648	total: 3.11s	remaining: 6.28s
331:	learn: 0.2303249	total: 3.12s	remaining: 6.27s
332:	learn: 0.2301868	total: 3.13s	remaining: 6.26s
333:	learn: 0.2301065	total: 3.13s	remaining: 6.25s
334:	learn: 0.2300152	total: 3.14s	remaining: 6.24s
335:	learn: 0.2299900	total: 3.15s	remaining: 6.23s
336:	learn: 0.2299616	total: 3.16s	remaining: 6.22s
337:	learn: 0.2299343	total: 3.17s	remaining: 6.21s
338:	learn: 0.2298206	total: 3.18s	remaining: 6.2s
339:	learn: 0.2298166	total: 3.19s	remaining: 6.18s
340:	learn: 0.2297740	total: 3.19s	remaining: 6.17s
341:	learn: 0.2297421	total: 3.21s	remaining: 6.17s
342:	learn: 0.2295981	total: 3.21s	remaining: 6.16s
343:	learn: 0.2295810	total: 3.22s	remaining: 6.15s
344:	learn: 0.2295047	total: 3.23s	remaining: 6.14s
345:	learn: 0.2294500	total: 3.24s	remaining: 6.13s
346:	learn: 0.2293800	total: 3.25s	remaining: 6.12s
347:	learn: 0.2293338	total: 3.26s	remaining: 6.1s
348:	learn: 0.2292417	total: 3.27s	remaining: 6.09s
349:	learn: 0.2292059	total: 3.27s	remaining: 6.08s
350:	learn: 0.2291753	total: 3.28s	remaining: 6.07s
351:	learn: 0.2291498	total: 3.29s	remaining: 6.06s
352:	learn: 0.2290891	total: 3.3s	remaining: 6.05s
353:	learn: 0.2290482	total: 3.31s	remaining: 6.04s
354:	learn: 0.2290144	total: 3.32s	remaining: 6.03s
355:	learn: 0.2290056	total: 3.32s	remaining: 6.01s
356:	learn: 0.2289906	total: 3.33s	remaining: 6s
357:	learn: 0.2289296	total: 3.34s	remaining: 5.99s
358:	learn: 0.2289223	total: 3.35s	remaining: 5.98s
359:	learn: 0.2288809	total: 3.36s	remaining: 5.97s
360:	learn: 0.2288087	total: 3.37s	remaining: 5.96s
361:	learn: 0.2287304	total: 3.37s	remaining: 5.95s
362:	learn: 0.2286660	total: 3.38s	remaining: 5.94s
363:	learn: 0.2286052	total: 3.4s	remaining: 5.93s
364:	learn: 0.2285668	total: 3.41s	remaining: 5.93s
365:	learn: 0.2285174	total: 3.42s	remaining: 5.92s
366:	learn: 0.2284386	total: 3.42s	remaining: 5.91s
367:	learn: 0.2283152	total: 3.43s	remaining: 5.9s
368:	learn: 0.2282920	total: 3.44s	remaining: 5.88s
369:	learn: 0.2282834	total: 3.45s	remaining: 5.87s
370:	learn: 0.2282309	total: 3.46s	remaining: 5.86s
371:	learn: 0.2281619	total: 3.48s	remaining: 5.87s
372:	learn: 0.2281259	total: 3.49s	remaining: 5.86s
373:	learn: 0.2280722	total: 3.5s	remaining: 5.85s
374:	learn: 0.2280168	total: 3.5s	remaining: 5.84s
375:	learn: 0.2279787	total: 3.51s	remaining: 5.83s
376:	learn: 0.2279449	total: 3.52s	remaining: 5.82s
377:	learn: 0.2279016	total: 3.53s	remaining: 5.8s
378:	learn: 0.2278979	total: 3.54s	remaining: 5.79s
379:	learn: 0.2278810	total: 3.54s	remaining: 5.78s
380:	learn: 0.2278390	total: 3.55s	remaining: 5.77s
381:	learn: 0.2278328	total: 3.56s	remaining: 5.76s
382:	learn: 0.2278188	total: 3.57s	remaining: 5.75s
383:	learn: 0.2277614	total: 3.58s	remaining: 5.74s
384:	learn: 0.2277209	total: 3.58s	remaining: 5.73s
385:	learn: 0.2276393	total: 3.59s	remaining: 5.72s
386:	learn: 0.2275853	total: 3.61s	remaining: 5.71s

In [ ]:
val_pred = val_model.predict_proba(X_4)[:, 1]

In [ ]:
log_loss(y_4, val_pred)

0.2556055020571949

In [ ]:
train.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x), inplace=True)
test.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x), inplace=True)

In [ ]:
train.head(2)

,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,...,FREQUENCE_RECH_grouped,ARPU_SEGMENT_grouped,FREQUENCE_grouped,ON_NET_grouped,ORANGE_grouped,REGULARITY_grouped,FREQ_TOP_PACK_grouped,REGION_REG_grouped,TOP_PACK_PACK_grouped,groups
0,24,20000.0,47.0,21602.0,7201.0,52.0,8835.0,3391.0,396.0,185.0,...,0,0,0,0,0,0,0,0,0,0
1,24,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,...,1,1,1,1,1,1,1,1,1,1

In [ ]:
train.shape, test.shape, y.shape

((1077024, 176), (190063, 176), (1077024,))

In [ ]:
cat_sub = sample.copy()

In [ ]:
cat_sub.CHURN = np.mean(y_pred_totcb1, axis=0)

In [ ]:
cat_sub.to_csv('25KFold_Cat.csv', index = False)

In [ ]:
xgb_sub = sample.copy()

In [ ]:
xgb_sub.CHURN = np.mean(y_pred_totcb2, axis=0)

In [ ]:
xgb_sub.to_csv('MgasaLucas.csv', index = False)

In [ ]:
blend = (xgb_sub.CHURN*0.4) + (cat_sub.CHURN*0.6)

In [ ]:
blend_sub = sample.copy()

In [ ]:
blend_sub.CHURN = blend

In [ ]:
blend_sub.to_csv('MgasaLucas2.csv', index = False)