<a href="https://colab.research.google.com/github/MGASALUCAS/Notebooks-Collection/blob/main/ZindiChallenge1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
np.random.seed(123)
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
# Import data
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')

In [3]:
# print shape
print('train data shape :', train.shape)
print('test data shape :', test.shape)

train data shape : (104659, 19)
test data shape : (190063, 18)

In [4]:
ss = pd.read_csv('SampleSubmission.csv')
ss.head()

                                    user_id  CHURN
0  51fe4c3347db1f8571d18ac03f716c41acee30a4      0
1  5ad5d67c175bce107cc97b98c4e37dcc38aa7f3e      0
2  5a4db591c953a8d8f373877fad37aaf4268899a1      0
3  8bf9b4d8880aeba1c9a0da48be78f12e629be37c      0
4  c7cdf2af01e9fa95bf498b68c122aa4b9a8d10df      0

In [5]:
# inspect train data
train.head()

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,7ee9e11e342e27c70455960acc80d3f91c1286d1,DAKAR,K > 24 month,20000.0,47.0,21602.0,7201.0,52.0,8835.0,3391.0,396.0,185.0,NaN,NaN,NO,62.0,On net 200F=Unlimited _call24H,30.0,0.0
1,50443f42bdc92b10388fc56e520e4421a5fa655c,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,3.0,NaN,NaN,0.0
2,da90b5c1a9b204c186079f89969aa01cb03c91b2,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,1.0,NaN,NaN,0.0
3,364ec1b424cdc64c25441a444a16930289a0051e,SAINT-LOUIS,K > 24 month,7900.0,19.0,7896.0,2632.0,25.0,9385.0,27.0,46.0,20.0,NaN,2.0,NO,61.0,"Data:490F=1GB,7d",7.0,0.0
4,d5a5247005bc6d41d3d99f4ef312ebb5f640f2cb,DAKAR,K > 24 month,12350.0,21.0,12351.0,4117.0,29.0,9360.0,66.0,102.0,34.0,NaN,NaN,NO,56.0,All-net 500F=2000F;5d,11.0,0.0

In [6]:
ss = pd.read_csv('SampleSubmission.csv')
ss.head()

                                    user_id  CHURN
0  51fe4c3347db1f8571d18ac03f716c41acee30a4      0
1  5ad5d67c175bce107cc97b98c4e37dcc38aa7f3e      0
2  5a4db591c953a8d8f373877fad37aaf4268899a1      0
3  8bf9b4d8880aeba1c9a0da48be78f12e629be37c      0
4  c7cdf2af01e9fa95bf498b68c122aa4b9a8d10df      0

In [21]:
#show some information about the dataset
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5387 entries, 221 to 1076964
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         5387 non-null   object
 1   REGION          5387 non-null   object
 2   TENURE          5387 non-null   object
 3   MONTANT         5387 non-null   float64
 4   FREQUENCE_RECH  5387 non-null   float64
 5   REVENUE         5387 non-null   float64
 6   ARPU_SEGMENT    5387 non-null   float64
 7   FREQUENCE       5387 non-null   float64
 8   DATA_VOLUME     5387 non-null   float64
 9   ON_NET          5387 non-null   float64
 10  ORANGE          5387 non-null   float64
 11  TIGO            5387 non-null   float64
 12  ZONE1           5387 non-null   float64
 13  ZONE2           5387 non-null   float64
 14  MRG             5387 non-null   object
 15  REGULARITY      5387 non-null   int64
 16  TOP_PACK        5387 non-null   object
 17  FREQ_TOP_PACK   5387 non-null   float64
 18  CHURN           5387 non-null   int64
dtypes: float64(12), int64(2), object(5)
memory usage: 841.7+ KB
None

In [14]:
df1 = pd.read_csv("Train.csv")
df1.head()

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,7ee9e11e342e27c70455960acc80d3f91c1286d1,DAKAR,K > 24 month,20000.0,47.0,21602.0,7201.0,52.0,8835.0,3391.0,396.0,185.0,NaN,NaN,NO,62,On net 200F=Unlimited _call24H,30.0,0
1,50443f42bdc92b10388fc56e520e4421a5fa655c,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,3,NaN,NaN,0
2,da90b5c1a9b204c186079f89969aa01cb03c91b2,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,1,NaN,NaN,0
3,364ec1b424cdc64c25441a444a16930289a0051e,SAINT-LOUIS,K > 24 month,7900.0,19.0,7896.0,2632.0,25.0,9385.0,27.0,46.0,20.0,NaN,2.0,NO,61,"Data:490F=1GB,7d",7.0,0
4,d5a5247005bc6d41d3d99f4ef312ebb5f640f2cb,DAKAR,K > 24 month,12350.0,21.0,12351.0,4117.0,29.0,9360.0,66.0,102.0,34.0,NaN,NaN,NO,56,All-net 500F=2000F;5d,11.0,0

In [16]:
df1.dropna(inplace=True)
df1.head()

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
221,6220c49bf92593ca7f17c64a2f2a3af84e84fb9a,DAKAR,K > 24 month,5450.0,12.0,5450.0,1817.0,10.0,314.0,178.0,80.0,18.0,0.0,2.0,NO,61,All-net 500F=2000F;5d,9.0,0
265,e5e2bf0ccfeb7de20f0b745473641e3f40dcda61,DAKAR,K > 24 month,8000.0,18.0,7999.0,2666.0,25.0,97.0,44.0,4.0,4.0,1.0,18.0,NO,56,"Data: 100 F=40MB,24H",2.0,0
571,7bd461ffedaae216ca5170b5d6169996b3713bb2,ZIGUINCHOR,K > 24 month,16700.0,32.0,17701.0,5900.0,38.0,331.0,3.0,332.0,29.0,5.0,0.0,NO,60,All-net 500F=2000F;5d,29.0,0
587,de042bd21934d75e6113dd59aaae7ef193b46af4,KAOLACK,K > 24 month,6500.0,11.0,6030.0,2010.0,28.0,0.0,11.0,44.0,5.0,14.0,12.0,NO,53,All-net 500F=2000F;5d,3.0,0
659,4b6db39177435cf9f9f18640ff7f121675abe3e9,KOLDA,K > 24 month,6600.0,30.0,6601.0,2200.0,31.0,0.0,3580.0,188.0,3.0,0.0,1.0,NO,57,On net 200F=Unlimited _call24H,27.0,0

In [20]:
#import preprocessing module
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

# Convert target label to numerical Data
le = LabelEncoder()
df1['CHURN'] = le.fit_transform(df1['CHURN'])

#Separate training features from target
X_train = df1.drop(['CHURN'], axis=1)
y_train = df1['CHURN']

print(y_train)

221        0
265        0
571        0
587        0
659        0
          ..
1075882    0
1076368    0
1076570    0
1076575    0
1076964    0
Name: CHURN, Length: 5387, dtype: int64

In [ ]:
# function to preprocess our data from train models

def preprocessing_data(data):

    # Convert the following numerical labels from interger to float
    float_array = data[["household_size", "age_of_respondent", "year"]].values.astype(float
    )
    
    # categorical features to be onverted to One Hot Encoding
    categ = [
        "relationship_with_head",
        "marital_status",
        "education_level",
        "job_type",
        "country"
    ]
    
    # One Hot Encoding conversion
    data = pd.get_dummies(data, prefix_sep="_", columns=categ)
    
    # Label Encoder conversion
    data["location_type"] = le.fit_transform(data["location_type"])
    data["cellphone_access"] = le.fit_transform(data["cellphone_access"])
    data["gender_of_respondent"] = le.fit_transform(data["gender_of_respondent"])
    
    # drop uniquid column
    data = data.drop(["uniqueid"], axis=1)
    
    # scale our data into range of 0 and 1
    scaler = MinMaxScaler(feature_range=(0, 1))
    data = scaler.fit_transform(data)
    
    return data

In [ ]:
# preprocess the train data 
processed_train = preprocessing_data(X_train)
processed_test = preprocessing_data(test_data)

In [ ]:
# the first train row
print(processed_train[:1])

In [ ]:
# shape of the processed train set
print(processed_train.shape)
(23524, 37)

In [ ]:
# Split train_data
from sklearn.model_selection import train_test_spilt

X_Train, X_Val, y_Train, y_val = train_test_split(processed_train, y_train, stratify = y_train,
                                                  test_size = 0.1, random_state=42)

In [ ]:
#import classifier algorithm here
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborClassifier
from sklearn.ensemble import ExtraTreesClassifier
from xgboost import XGBClassifier

# create models
lg_model = LogisticRegression()
rf_model = RandomForestClassifier()
kn_model = KNeighborsClassifier()
et_model = ExtraTreesClassifier()
xg_model = XGBClassifier()

#fitting the models
lg_model.fit(X_Train,y_Train)
rf_model.fit(X_Train,y_Train)
kn_model.fit(X_Train,y_Train)
et_model.fit(X_Train,y_Train)
xg_model.fit(X_Train,y_Train)

In [ ]:
# import evaluation metrics
from sklearn.metrics import confusion_matrix, accuracy_score

# evaluate the model
lg_y_pred = lg_model.predict(X_Val)
rf_y_pred = rf_model.predict(X_Val)
kn_y_model = kn_model.predict(X_Val)
et_y_model = et_model.predict(X_Val)
xg_y_model = xg_model.predict(X_Val)

# Get error rate
print("Error rate Logistic Regression classifier: ", 1 - accuracy_score(y_val, lg_y_model))
print("Error rate of Random Forest classifier: ", 1 - accuracy_scorey_val, rf_model))
print("Error rate of Extra Tree classifier: ", 1 - accuracy_score(y_val, et_y_model))
print("Error rate of XGB classifier: ", 1 - accuracy_score(y_val, xg_y_model))

In [ ]:
from sklearn.metrics import plot_confusion_matrix

# Get confusion matrix for Gradient Boosting Classifier
plot_confusion_matrix( xg_model,X_Val,y_val,normalize='true')

In [ ]:
# Import GridSearchCV
from sklearn.model_selection import GridSearchCV

# Optimize model parameters
# I run this code in google colab to make the execution much faster and use the best params in the next code
param_grid = {'min_child_weighth': [1, 5, 10],
        'gamma': [0.5, 1],
        'subsample': [0.6, 0.8, 1.0],
        'max_depth': [3, 5]
        }
my_xgb_model = GridSearchCV(xg_model, param_grid,n_jobs=-1,verbose=2,cv=5)
my_xgb_model.fit(X_Train, y_Train)
print(my_xgb_model.best_params_)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score

# fit by setting best parameters and Evaluate model
xgb_model = XGBClassifier(min_child_weight=1, gamma=1, subsample=0.8, max_depth=5)

xgb_model.fit(X_Train, y_Train)
y_pred = xgb_model.predict(X_val)

# Get error rate
print("Error rate of the XGB classifier: ", 1 - accuracy_score(y_val, y_pred))

In [ ]:
# Get the predicted result for the test Data
test.bank_account = xgb_model.predict(processed_test)

In [ ]:
# Create submission DataFrame
submission = pd.DataFrame({"uniqueid": test["uniqueid"] + " x " + test["country"],
                           "bank_account": test.bank_account})

In [ ]:
#show the five sample
submission.sample(5)

In [ ]:
# Create submission csv file csv file
submission.to_csv('first_submission.csv', index = False)